<section id="projects">
<div class="container">
	<h3>Speaking Engagements</h3>
	<p class="subline">
		Abstracts available at
		<a href="https://www.papercall.io/speakers/chrislorenzo/" target="_blank">papercall</a>
	</p>
	<dl class="my-talks">
		<dt><a href="#">WebCon 2018 - University of Illinois</a></dt>
		<dd>
			Ensuring Design Standards with Web Components
		</dd>
		<dt><a href="#">Confoo 2017 - Vancouver, BC</a></dt>
		<dd>
				Decoupling with Google Polymer<br>
				Web Components for Micro Services and IoT
		</dd>
	</dl>
</div>
</section>
