<section id="projects">
<div class="container">
	<h3>Speaking Engagements</h3>
	<p class="subline">
		Abstracts available at
		<a href="https://www.papercall.io/speakers/chrislorenzo/" target="_blank">papercall</a>
	</p>
	<dl class="my-talks">
		<dt><a href="https://devfestflorida.org/" target="_blank">DevFest Floriday 2019 - Orlando, FL</a></dt>
		<dd>
				Outrun the 🐻! Performance Optimizations for Progressive Web Apps
		</dd>
		<dt><a href="https://therichwebexperience.com/conference/clearwater/2018/12/home" target="_blank">The Rich Web Experience 2018 - Clearwater, FL</a></dt>
		<dd>
				Performance Optimizations for Progressive Web Apps<br />
				Web Components: The Future of Web Development is Here<br />
				Workshop: Webcomponents + Polymer with <a href="http://www.johnriviello.com/" target="_blank">John Riviello</a>
		</dd>
		<dt><a href="https://www.rvajavascript.com/" target="_blank">RVA JS 2018 - Richmond, VA</a></dt>
		<dd>
				Outrun the 🐻! Performance Optimizations for Progressive Web Apps
		</dd>
		<dt><a href="https://events.linuxfoundation.org/events/js-interactive-2018" target="_blank">JS Interactive 2018 - Vancouver, BC</a></dt>
		<dd>
				Performance Optimizations for Progressive Web Apps<br />
				Workshop: Webcomponents + Polymer with <a href="http://www.johnriviello.com/" target="_blank">John Riviello</a>
		</dd>
		<dt><a href="https://techbash.com/" target="_blank">TechBash 2018 - The Poconos</a></dt>
		<dd>
				Outrun the 🐻! Performance Optimizations for Progressive Web Apps
		</dd>
		<dt><a href="https://www.codercruise.com" target="_blank">CoderCruise 2018 - The Bahamas</a></dt>
		<dd>
				Outrun the 🐻! Performance Optimizations for Progressive Web Apps<br />
				Intro to Web Components
		</dd>
		<dt><a href="https://www.meetup.com/PWA-Philly/" target="_blank">Philly PWA Meetup 2018 - Philadelphia, PA</a></dt>
		<dd>
				Outrun the 🐻! Performance Optimizations for Progressive Web Apps
		</dd>
		<dt><a href="https://www.thatconference.com/" target="_blank">ThatConference 2018 - Wisconsin Dells, WI</a></dt>
		<dd>
				Outrun the 🐻! Performance Optimizations for Progressive Web Apps
		</dd>
		<dt><a href="http://www.kcdc.info/" target="_blank">KCDC 2018 - Kansas City, MO</a></dt>
		<dd>
				Intro to Web Components
		</dd>
		<dt><a href="http://buzzjs.com/" target="_blank">BuzzJS 2018 - NYC</a></dt>
		<dd>
				Decoupling with Google Polymer
		</dd>
		<dt><a href="http://musiccitytech.com/" target="_blank">MusicCityTech 2018 - Vanderbilt University</a></dt>
		<dd>
			Workshop: Introduction to Web Components and Polymer with <a href="http://www.johnriviello.com/" target="_blank">John Riviello</a>
		</dd>
		<dt><a href="http://codelandconf.com/" target="_blank">CodeLand 2018 - NYC</a></dt>
		<dd>
			Workshop: Web Components + Polymer
		</dd>
		<dt><a href="https://drupaldelphia.org/" target="_blank">Drupaldelphia 2018 - Philly</a></dt>
		<dd>
			Web Components: The Future of Web Development is Here with <a href="http://www.johnriviello.com/" target="_blank">John Riviello</a>
		</dd>
		<dt><a href="http://webcon.illinois.edu/" target="_blank">WebCon 2018 - University of Illinois</a></dt>
		<dd>
			Workshop: Introduction to Web Components and Polymer<br>
			Ensuring Design Standards with Web Components
		</dd>
		<dt><a href="https://confoo.ca/en" target="_blank">Confoo 2017 - Vancouver, BC</a></dt>
		<dd>
				Decoupling with Google Polymer<br>
				Web Components for Micro Services and IoT
		</dd>
		<dt><a href="https://libertyjs.com/" target="_blank">LibertyJS 2017 - Philadelphia, PA</a></dt>
		<dd>
				Web Components: The Future of Web Development is Here with <a href="http://www.johnriviello.com/" target="_blank">John Riviello</a>
		</dd>
		<dt><a href="https://www.thundernerds.io/" target="_blank">ThunderNerds Podcast - 2017</a></dt>
		<dd>
				Special Guest speaker with <a href="http://www.johnriviello.com/" target="_blank">John Riviello</a>
		</dd>
		<dt><a href="https://devfestflorida.org/" target="_blank">DevFest Florida 2017 - Tampa, FL</a></dt>
		<dd>
				Decoupling with Google Polymer
		</dd>
		<dt><a href="https://techevents.comcast.com/software/" target="_blank">Software as a Craft 2017 - Philadelphia PA</a></dt>
		<dd>
				Why I &lt; heart-polymer &gt;
		</dd>
		<dt><a href="http://www.lrtechfest.com/" target="_blank">Little Rock Tech Fest  2017 - Little Rock, AR</a></dt>
		<dd>
				Web Components: A simpler and faster React
		</dd>
		<dt><a href="http://minnewebcon.org/" target="_blank">MinneWebCon 2017 - Minneapolis, MN</a></dt>
		<dd>
				Web Components: The Future of Web Development is here
		</dd>
		<dt><a href="https://wcremoteconf.com/" target="_blank">Web Components Remote Conf 2017 - Virtual</a></dt>
		<dd>
				A Vanilla Component
		</dd>
		<dt><a href="https://theleaddeveloper.com/" target="_blank">The Lead Developer 2017 - NYC, NY</a></dt>
		<dd>
				Why I &lt; heart-polymer &gt;
		</dd>
		<dt><a href="https://thewebplatformpodcast.com/" target="_blank">The Web Platform Podcast 2016</a></dt>
		<dd>
				Special guest speaker with <a href="http://www.johnriviello.com/" target="_blank">John Riviello</a>
		</dd>
		<dt><a href="https://summit.polymer-project.org/" target="_blank">Polymer Summit 2016 for Google - London, UK</a></dt>
		<dd>
				Polymer in Practice @ Comcast
		</dd>
		<dt><a href="https://t3dd17.typo3.org/" target="_blank">TYPO3 Developer Days 2016 - Nuremberg, Germany</a></dt>
		<dd>
				Polymer Changes Everything!<br>
				Polymer in Practice @ Comcast<br>
				Hands on with Polymer
		</dd>
		<dt><a href="https://libertyjs.com/" target="_blank">LibertyJS - 2016 - Philadelphia, PA</a></dt>
		<dd>
				Polymer in Practice
		</dd>
		<dt><a href="http://midwestjs.com/#/main" target="_blank">Midwest JS 2016 - Minneapolis, MN</a></dt>
		<dd>
				Polymer in Practice
		</dd>
		<dt><a href="http://jsconf.com/" target="_blank">JSConf 2015 - Amelia Island, FL</a></dt>
		<dd>
				Polymer: The future of Web Components
		</dd>
	</dl>
</div>
</section>
