<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <meta name="author" content="{{ site.author }}" />
    <meta name="description" content="{{ site.description }}">
    <link rel="favicon" href="{{ site.baseurl }}static/img/favicon.ico?v=3">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}static/img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ site.baseurl }}static/img/favicon-16x16.png" sizes="16x16" />
    <!-- Generator https://manytools.org/http-html-text/apple-touch-icon-generator/ -->
    <link rel="apple-touch-icon" href="{{ site.baseurl }}static/img/touch-icons/apple-touch-icon-iphone-60x60.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}static/img/touch-icons/apple-touch-icon-ipad-76x76">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}static/img/touch-icons/apple-touch-icon-iphone-retina-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}static/img/touch-icons/apple-touch-icon-ipad-retina-152x152.png">
    <link rel="manifest" href="/manifest.json">

    <!--
      Lots of issues with PWAs on Safari iOS, use web applications
      https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html
      Bugs:
      https://medium.com/@firt/pwas-are-coming-to-ios-11-3-cupertino-we-have-a-problem-2ff49fd7d6ea
      https://medium.com/@firt/progressive-web-apps-on-ios-are-here-d00430dee3a7

    -->

    {% if page.title %}
      <title>{{ page.title }}</title>
    {% else %}
      <title>{{ site.title }}</title>
    {% endif %}

  <script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('./service-worker.js');
    }
    else {
        console.log('Service Worker functionality not supported.');
    }

    window.addEventListener('load', function() {
      var status = document.getElementById("status");
      var log = document.getElementById("log");

      function updateOnlineStatus(event) {
        var condition = navigator.onLine ? "online" : "offline";

        status.className = condition;
        status.innerHTML = condition.toUpperCase();

        log.insertAdjacentHTML("beforeend", "Event: " + event.type + "; Status: " + condition);
      }

      window.addEventListener('online',  updateOnlineStatus);
      window.addEventListener('offline', updateOnlineStatus);
    });
  </script>

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}static/css/main.css" />

  <style>
    @media all and (display-mode: standalone) {
      .mynav {
        border-top: none;
      }
      footer {
        border-bottom: none;
      }
    }
  </style>

    <!-- Google Analytics -->
    {% include analytics.html %}
  </head>
  <body>
    {% include header.html %}

    {{ content }}
  <footer></footer>
  </body>
</html>
