<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <meta name="author" content="{{ site.author }}" />
    <meta name="description" content="{{ site.description }}">
    <link rel="favicon" href="{{ site.baseurl }}static/img/favicon.ico?v=3">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}static/img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ site.baseurl }}static/img/favicon-16x16.png" sizes="16x16" />
    <!-- Generator https://manytools.org/http-html-text/apple-touch-icon-generator/ -->
    <link rel="apple-touch-icon" href="{{ site.baseurl }}static/img/touch-icons/apple-touch-icon-iphone-60x60.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}static/img/touch-icons/apple-touch-icon-ipad-76x76">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}static/img/touch-icons/apple-touch-icon-iphone-retina-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}static/img/touch-icons/apple-touch-icon-ipad-retina-152x152.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <!--
      Apple PWA:
      https://medium.com/appscope/designing-native-like-progressive-web-apps-for-ios-1b3cdda1d0e8
      https://appsco.pe/developer/splash-screens

      Lots of issues with PWAs on Safari iOS, use web applications
      https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html
      Bugs:
      https://medium.com/@firt/pwas-are-coming-to-ios-11-3-cupertino-we-have-a-problem-2ff49fd7d6ea
      https://medium.com/@firt/progressive-web-apps-on-ios-are-here-d00430dee3a7
    -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="{{ site.baseurl }}static/img/splashscreens/iphone5_splash.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="{{ site.baseurl }}static/img/splashscreens/iphone6_splash.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="{{ site.baseurl }}static/img/splashscreens/iphoneplus_splash.png" media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="{{ site.baseurl }}static/img/splashscreens/iphonex_splash.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="{{ site.baseurl }}static/img/splashscreens/iphonexr_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="{{ site.baseurl }}static/img/splashscreens/iphonexsmax_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="{{ site.baseurl }}static/img/splashscreens/ipad_splash.png" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="{{ site.baseurl }}static/img/splashscreens/ipadpro1_splash.png" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="{{ site.baseurl }}static/img/splashscreens/ipadpro3_splash.png" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="{{ site.baseurl }}static/img/splashscreens/ipadpro2_splash.png" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link rel="manifest" href="/manifest.json">

    {% if page.title %}
      <title>{{ page.title }}</title>
    {% else %}
      <title>{{ site.title }}</title>
    {% endif %}

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}static/css/main.css" />

  <style>
    @media all and (display-mode: standalone) {
      .mynav {
        border-top-width: 1px;
        top: auto;
        bottom: 0;
        padding-bottom: 10px;
      }
      .img-circle {
        height: 250px;
      }

      body {
        padding-top: 30px;
      }
    }
  </style>
    <!-- Google Analytics -->
    {% include analytics.html %}
  </head>
  <body>
    {% include header.html %}

    {{ content }}
    <footer></footer>

    <script>
      // Optimize loading perf - https://developers.google.com/web/fundamentals/primers/service-workers/registration
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register('/service-worker.js')
            .then(reg => reg.sync.register('syncConferences'));
        });
      }
    </script>

    <script src="{{ site.baseurl }}static/js/offline.js"></script>
    <script src="{{ site.baseurl }}static/js/notifications.js"></script>
    <!-- <script src="{{ site.baseurl }}static/js/sw-notification.js"></script> -->
    <script src="{{ site.baseurl }}static/js/push.js"></script>
  </body>
</html>
